<page-header></page-header>
<section class="about">
  <section class="description">
    <div class="icon"></div>
    <div class="text">
      <strong>StartupWeb</strong><br>
      A simply readable Startup News web app.
    </div>
  </section>
  
  <ul class="links">
    <a target="_blank" href="http://news.dbanotes.net/">
      <li>Startup News homepage</li>
    </a>
    <a target="_blank" href="http://cheeaun.github.io/hackerweb/">
      <li>HackerWeb homepage</li>
    </a>
    <a target="_blank" href="http://github.com/fenprace/StartupWeb">
      <li>StartupWeb on GitHub</li>
    </a>
    <a target="_blank" href="http://twitter.com/fenprace">
      <li>Follow @Fenprace</li>
    </a>
  </ul>
  
  <footer>
    Built by Prace Fen.
    <br>
    Not affiliated with Startup News.
    <br>
    Styles from
    <a href="http://cheeaun.github.io/hackerweb/">HackerWeb</a>.
  </footer>
</section>