<page-header></page-header>

<table class="stories">
  <tbody>
      <tr ng-repeat="story in stories">
        <td class="numberTd">
          <div class="number" ng-bind="$index + 1 + '.'"></div>
        </td>
        <td>
          <div class="main">
            <a target="_blank" href="{{ story.url }}">
              <span class="title" ng-bind="story.title"></span>
              <br>
              <span class="source" ng-bind="story.source"></span>
              <br>
              <span class="metadata"
              ng-bind="story.point| info:
              story.submittor:story.time:story.discussions_count">
              </span>
            </a>
          </div>
        </td>
        <td>
          <a href="#/stories/{{ story.id }}">
            <div class="comment"></div>
          </a>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="more">Loading...</td>
      </tr>
  </tbody>
</table>